<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.Momento3AHA">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Aplicación de Ventas"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.Momento3AHA.vendedor"></activity>
        <activity android:name="com.example.Momento3AHA.Login" />
        <activity android:name="com.example.Momento3AHA.loginadmin" />
        <activity android:name="com.example.Momento3AHA.inicio">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.Momento3AHA.Bienvenido" />
        <activity android:name="com.example.Momento3AHA.Lventas">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.Momento3AHA.Fventa" />
        </activity>
        <activity android:name="com.example.Momento3AHA.Lzonas">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.Momento3AHA.Fzona" />
        </activity>
        <activity android:name="com.example.Momento3AHA.Lvendedor">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.Momento3AHA.Fvendedor" />
        </activity>
        <activity android:name="com.example.Momento3AHA.Fventa">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.Momento3AHA.MainActivity" />
        </activity>
        <activity android:name="com.example.Momento3AHA.Fzona">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.Momento3AHA.MainActivity" />
        </activity>
        <activity android:name="com.example.Momento3AHA.Fvendedor">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.Momento3AHA.MainActivity" />
        </activity>
        <activity android:name="com.example.Momento3AHA.MainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>